<header class='card-header sticky-top'>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand mx-3" href="/home">
            <img src="https://www.yudiz.com/wp-content/uploads/2019/10/yudiz-logo.png" alt="" width="100" height="25"
                class="d-inline-block align-text-top">
        </a>
        <form class="d-flex">
            <div class="d-grid gap-2 d-md-flex justify-content-end mx-1">
                <button id="edit-button" type="button" class="btn btn-primary " data-bs-toggle="modal"
                    data-bs-target="#exampleModal" style="display:none">Edit Profile</button>
            </div>
            <p id="wallet-address" class="mx-2 my-2"></p>
            <button id="connectButton" class="btn btn-primary mx-2" type="button" onclick="connectMetamask()"
                data-toggle="modal">Connect Metamask</button>
            <button id="disconnectButton" class="btn btn-danger mx-2" type="button" style=" display:none"
                onclick="disconnectMetamask()">Disconnect Metamask</button>
        </form>
    </nav>
</header>