<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.css">
    <title>Document</title>
</head>

<body>
    <%- include('navbar')%>
        <div class="container-fluid my-5">
            <div class="row">
                <div class=" card " style="width: 25rem; margin-left: 35%; margin-top: 7%;">
                    <h5 class="mt-4 text-center">Admin Signin</h5>
                    <hr>
                    <div class="card-body">
                        <form class="row g-3">
                            <div class="row-4">
                                <label for="inputEmail4" class="form-label col-form-label">Email</label>
                                <input id="admin-email" type="email" class="form-control" id="inputEmail4"
                                    placeholder="Email">
                                <label id="p-email" style="color: red ; display:none"></label>
                            </div>
                            <div class="row-4">
                                <label for="inputPassword4" class="form-label">Password</label>
                                <input id="admin-password" type="password" class="form-control" id="inputPassword4"
                                    placeholder="Password">
                                <label id="p-password" style="color: red ; display:none"></label>
                            </div>
                            <div class="row-4">
                                <button type="button" class="btn btn-primary" onclick="signIn()">Signin</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>



<script src="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"
    integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



<script type="text/javascript" src="/adminview/js/admin.js"></script>


</html>