<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.css">

    <!-- ICONs -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <title>Document</title>
</head>

<body>
    <%- include('navbar')%>
        <div class="container">
            <div class="row">
                <div class="col-lg-13 text-center">
                    <h1>Users</h1>
                </div>
            </div>

            <div class="row my-1">
                <div class="col">
                    <div class="table-responsive">
                        <table id="nftTable" class="display table table-striped">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Waller Address</th>
                                    <th>Status</th>
                                    <th>Action</th>


                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Waller Address</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <!-- filmname -->
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Film name</span>
                            <input id='filmname' type="text" class="form-control" placeholder="Film name"
                                aria-label="Film name" aria-describedby="basic-addon1">
                        </div>

                        <!-- Genre -->
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Genre</span>
                            <input id='genre' type="text" class="form-control" placeholder="Genre" aria-label="Genre"
                                aria-describedby="basic-addon1">
                        </div>

                        <!-- LeadStudio -->
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Lead Studio</span>
                            <input id='leadstudio' type="text" class="form-control" placeholder="Lead Studio"
                                aria-label="Lead Studio" aria-describedby="basic-addon1">
                        </div>

                        <!-- audience score -->
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Audience Score %</span>
                            <input id='audiencescore' type="text" class="form-control" placeholder="Audience Score %"
                                aria-label="Audience Score" aria-describedby="basic-addon1">
                        </div>

                        <!-- profitability -->

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Profitability</span>
                            <input id='profitability' type="text" class="form-control" placeholder="Profitability"
                                aria-label="Profitability" aria-describedby="basic-addon1">
                        </div>

                        <!-- Rotten Tomatoes -->

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Rotten Tomatoes %</span>
                            <input id='rottentomatoes' type="text" class="form-control" placeholder="Rotten Tomatoes %"
                                aria-label="Rotten Tomatoes" aria-describedby="basic-addon1">
                        </div>

                        <!-- World Wide Gross -->

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">World Wide Gross</span>
                            <input id='worldwidegross' type="text" class="form-control" placeholder="World Wide Gross"
                                aria-label="World Wide Gross" aria-describedby="basic-addon1">
                        </div>

                        <!-- Year -->
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Year</span>
                            <input id='year' type="text" class="form-control" placeholder="Year" aria-label="Year"
                                aria-describedby="basic-addon1">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="save-change" type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.js"></script>

<script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
<script src="../adminview/js/Userdata.js"></script>

</html>